body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-around;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

header ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

a {
  color: #E5E7EB;
  font-size: 18px;
  text-decoration: none;
}

.section {
  margin: 0;
  padding: 100px 240px;
  border: #E5E7EB;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.description {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  margin-right: 100px;
}

.image img {
  height: 260px;
  width: 550px;
  object-fit: cover;
}


.hero {
  font-size: 48px;
  font-weight: 900;
  margin: 0;
  color: #F9FAF8;
  display: flex;
  justify-content: flex-start;
}

.sub-hero {
  font-size: 18px;
  color: #E5E7EB
}

.sign-up, .action-button {
  width: 120px;
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 5px;
  border-radius: 8px;
}

footer {
  height: 80px;
  background: #1F2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information {
  margin: 0;
  padding: 80px 240px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.info-header {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.cards {
  padding: 0;
  margin-left: 50px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.information img {
  height: 150px;
  width: 150px;
  border: 5px solid rgb(46, 152, 250);
  border-radius: 8px;
}

.cards li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: space-around
}

.under-text {
  align-: center;
}

.quote-section {
  margin: 0;
  padding: 100px 200px;
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}

.author {
  font-size: 24px;
  font-weight: 700;
  text-align: end;
}

.action-section {
  margin: 120px 180px;
  padding: 50px;
  display: flex;
  background-color: #3882F6;
  border-radius: 10px;
}

.action h2 {
  font-size: 24px
  font-weight: 700;
  color: #F9FAF8;
}

.action p {
  font-size: 18px;
  font-weight: 100px;
  color: #E5E7EB;
}

.action-button {
  border: solid 2px #F9FAF8;
  vertical-align: middle;
}